.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

:root {
    --white-color: #fff;
    --gray-color: #5f5f5f;
    --red-color: #ff2d2d;
    --primary-color: #4db2ec;
    --header-color: #23282d;
}

img {
    max-width: 100%;
    height: auto;
}

.text-up {
    text-transform: uppercase;
}

a:hover {
    color: none;
}

.title {
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
    padding: 3px 15px;
    text-transform: uppercase;
}